.header-component {
  background-color: #38419d;
  color: #fff;
  padding: 5px;

  /* ⭐ สำคัญมาก */
  position: relative;
  z-index: 1050;
  overflow: visible;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* ปุ่มอยู่ขวา */
  gap: 1rem;
  overflow: visible;
}
