#text-news{
    text-align: start;
    font-weight: bold;
}

.header-news-p{
    font-size: 16px;
    text-align: start;
    font-weight: bold;
}

/* #box-text{
    height: 30vh;
} */

#btn-submit{
    background-color: #18756A;
}