#component-detail-news {
}

.img-news {
  width: 50%;
  height: 70%;
}

.component-detail-news {
  display: flex;
  justify-content: center;
}

.edit_detele-position{
    display: flex;
    justify-content: space-evenly;
}

#news-name{
   padding: 10px;
    font-weight: 600;
}