.toggle-switch {
  width: 80px;
  height: 40px;
  background-color: #38419D;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: relative;
  cursor: pointer;
  border: 2px solid white;
}

.icon {
  font-size: 18px;
  z-index: 1;
  color: white;
}

.switch-thumb {
  position: absolute;
  width: 35px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  left: 3px;
  transition: all 0.3s ease;
}

.switch-thumb.dark {
  left: calc(100% - 47px); /* 100% - (thumb width + margin) */
}
