/* ปุ่มเพิ่มหลักสูตร */
.btn-addcourse {
  color: white;
  background-color: #38419d;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

.btn-addcourse:hover {
  background-color: #212763;
  color: white;
}

/* หัวข้อหลักสูตรทั้งหมด */
#course-all {
  padding: 10px 0;
  font-weight: 600;
  font-size: 24px;
  color: #222;
}

/* หัวข้อระดับปริญญาแบบขีดเส้นใต้ */
/* .degree-header {
  font-size: 20px;
  font-weight: 600;
  margin: 30px 0 15px;
  padding-bottom: 6px;
  border-bottom: 3px solid currentColor;
  display: inline-block;
} */

/* สีเฉพาะแต่ละระดับ */
#header-bachelor {
  color: #38419d; /* ฟ้าเข้ม */
}

#header-master {
  color: #4878aa; /* ฟ้ากลาง */
}

#header-doctor {
  color: #5f3caa; /* ม่วง */
}

/* ปุ่มดูรายละเอียดหลักสูตร */
#btn-detailcourse {
  color: white;
  background-color: #38419d;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

#btn-detailcourse:hover {
  background-color: #212763;
  color: white;
}

/* ใช้สำหรับจัดรายละเอียดหลักสูตร */
#detail-course {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.degree-divider {
  display: flex;
  align-items: center;
  margin: 30px 0 20px;
}

.degree-divider::before,
.degree-divider::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #ccc;
}

.degree-divider span {
  padding: 0 15px;
  font-size: 20px;
  font-weight: 600;
}

.degree-divider span.bachelor {
  color: #38419d;
}

.degree-divider span.master {
  color: #4878aa;
}

.degree-divider span.doctor {
  color: #5f3caa;
}

/* ปุ่มเพิ่มหลักสูตร */
.btn-addcourse {
  color: white;
  background-color: #38419d;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}

.btn-addcourse:hover {
  background-color: #2e3685;
  color: white;
}
