#text-header-coures {
  text-align: start;
  color: #18756a;
}

#text-title-course {
  display: flex;
  margin: 7px;
  flex-direction: column;
  font-weight: bold;
}

#text-content-course {
  display: flex;
  align-items: center;
  font-size: 14px;
}

#text-content-course2 {
  display: flex;
  align-items: start;
  font-size: 15px;
}

#table-content{
    text-align: start;
}

#table-header{
    text-align: start;
}

#list-career{
    text-align: start;
}