/* .header-component{
    background-color: rebeccapurple;
    height: 5vh;
}

.header-col{
    justify-content: center;
} */

#btn-addnew {
  color: white;
  background-color: #18756a;
  margin: 15px;
  display: inline-block;
  width: 15vh;
  border-radius: 10px;
}

#btn-addnew:hover {
  color: #18756a;
  background-color: white;
  border-color: #18756a;
}

#new-all {
  padding: 15px;
  font-weight: 600;
  font-size: 25px;
}
